@using EntityLayer.Concrete
@model List<Week>

@{
    ViewData["Title"] = "Soldier";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    .card {
        position: relative;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
        border: none;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        background-color: rgba(47, 79, 79, 0.6);
        color: white;
    }

        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
            background-color: rgba(73, 80, 87, 0.8);
        }

    .card-body {
        text-align: center;
        padding: 1.5rem;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateY(20px);
    }

    .card:hover .card-body {
        opacity: 1;
        transform: translateY(0);
    }

    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        transition: bottom 0.3s, background-color 0.3s, transform 0.3s;
        z-index: 2;
        text-align: center;
    }

    .card:hover .card-title {
        bottom: auto;
        position: static;
        background-color: transparent;
        transform: translateY(-10px);
    }

    .card img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 200px;
        object-fit: cover;
        transition: opacity 0.3s;
    }

    .card:hover img {
        opacity: 0.3;
    }

    .btn-secondary {
        background-color: darkslategray;
        border-color: darkslategray;
        border-radius: 25px;
        padding: 0.5rem 1.5rem;
        display: none;
        transition: display 0.3s;
    }

    .card:hover .btn-secondary {
        display: inline-block;
    }

    .container {
        margin-top: 2rem;
    }
</style>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100" style="cursor: pointer;">
                    <a style="display=none ;color:white;" asp-controller="ExercisePlan" asp-action="Details" asp-route-id="@item.WeekID">
                        <img src="@item.WeekPhoto" class="card-img-top" alt="@item.WeekName">
                        <h5 class="card-title">@item.WeekName</h5>
                        <div class="card-body">
                            <p class="card-text">@item.WeekDescription</p>
                            <a asp-controller="ExercisePlan" asp-action="Details" asp-route-id="@item.WeekID" class="btn btn-secondary">İçeriği Gör</a>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>