@using EntityLayer.Concrete
@model List<Contact>
@{
    ViewData["Title"] = "MessageList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="text-align:center;">Mesaj Listesi</h1>
@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Email</th>
            <th>Konu</th>
            <th>Mesaj</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Subject</td>
                <td>@item.Message</td>
                <td>
                    <form asp-action="DeleteContactMessage" method="post" style="display:inline;">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
