@model EntityLayer.Concrete.Message2

@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
{
    @Html.LabelFor(x => x.ReceiverID, "Alıcı")
    @Html.TextBoxFor(x => x.ReceiverID, new { @class = "form-control" })
    <br/>
    @Html.Label("Konu Başlığı")
    @Html.TextBoxFor(x=> x.Subject,new {@class = "form-control"})
    <br />
    @Html.Label("Mesajınız ")
    @Html.TextAreaFor(x => x.MessageDetails, new { @class = "form-control" })
    <br />

    <button class="btn btn-info">Mesajı Gönder</button>

}

